@charset "utf-8";

/* input:focus,textarea:focus{border:1px solid #45beff;} */
/* strong{ font-weight: bold;  } */
html[lang^="ko"] {
	font-size: 100%;
	body {
		font-size: 100%;
	}
}
html {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	color: #444;
	height: 100%;
	font-weight: 400;
}
body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	line-height: 1;
	color: #444;
	height: 100%;
	font-weight: 400;
	font-size: 13px;
	line-height: 1.5;
	font-family: AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
	color: #444;
	letter-spacing: -1px;
}
div {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
span {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
object {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
iframe {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
h1 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
h2 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	word-wrap: break-word;
}
h3 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	word-wrap: break-word;
}
h4 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
h5 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
h6 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
p {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	word-wrap: break-word;
}
blockquote {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	quotes: none;
	&:before {
		content: '';
		content: none;
	}
	&:after {
		content: '';
		content: none;
	}
}
pre {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	font-size: 0.87rem;
	color: #444;
	font-weight: 400;
	white-space: pre-wrap;
}
abbr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
address {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	font-style: normal;
}
cite {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
code {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
del {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	text-decoration: line-through;
}
dfn {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
em {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	font-style: normal;
}
img {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	vertical-align: middle;
}
ins {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
kbd {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
q {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	quotes: none;
	&:before {
		content: '';
		content: none;
	}
	&:after {
		content: '';
		content: none;
	}
}
samp {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
small {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
strong {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
sub {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
sup {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
var {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
b {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
i {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
dl {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
dt {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
dd {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
ol {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	li {
		list-style: none;
	}
}
ul {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	li {
		list-style: none;
	}
}
li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
fieldset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
form {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
label {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
legend {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	display: none;
}
table {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}
caption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	width: 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	overflow: hidden;
}
tbody {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
tfoot {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
thead {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
tr {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
th {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	font-size: 13px;
	line-height: 1.5;
	font-family: AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
	color: #444;
	letter-spacing: -1px;
}
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	font-size: 13px;
	line-height: 1.5;
	font-family: AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
	color: #444;
	letter-spacing: -1px;
}
article {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	display: block;
}
aside {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	display: block;
}
canvas {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
details {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	display: block;
}
figcaption {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	display: block;
}
figure {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	display: block;
}
footer {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	display: block;
}
header {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	display: block;
}
hgroup {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	display: block;
}
menu {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	display: block;
}
nav {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	display: block;
}
section {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	display: block;
}
summary {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
time {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
mark {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
	background-color: #ff9;
	color: #000;
	font-style: italic;
}
audio {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: middle;
	background: transparent;
}
a {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	background: transparent;
	text-decoration: none;
	color: #111111;
	outline: none;
	word-wrap: break-word;
	outline: none;
	&:link {
		text-decoration: none;
		color: #111111;
		outline: none;
	}
	&:visited {
		text-decoration: none;
		color: #111111;
		outline: none;
	}
	&:hover {
		text-decoration: none;
		color: #111111;
	}
}
abbr[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
input {
	vertical-align: middle;
	outline: none;
	font-size: 0.87rem;
	color: #444;
	font-weight: 400;
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-size: 13px;
	line-height: 1.5;
	font-family: AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
	color: #444;
	letter-spacing: -1px;
}
select {
	vertical-align: middle;
	outline: none;
	font-size: 0.87rem;
	color: #444;
	font-weight: 400;
	vertical-align: middle;
	border: 1px solid #c1c1c1;
	height: 23px;
	color: #585858;
	font-size: 13px;
	padding-left: 10px;
	font-size: 13px;
	line-height: 1.5;
	font-family: AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
	color: #444;
	letter-spacing: -1px;
}
textarea {
	font-size: 0.87rem;
	color: #444;
	font-weight: 400;
	padding: 5px;
	border: 1px solid #c1c1c1;
	overflow-y: auto;
	outline: none;
	width: 100%;
	box-sizing: border-box;
	resize: none;
	webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 13px;
	line-height: 1.5;
	font-family: AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
	color: #444;
	letter-spacing: -1px;
}
button {
	border: 0 none;
	background: transparent;
	outline: 0;
	font-size: 13px;
	color: #444;
	font-weight: bold;
	outline: none;
	font-size: 13px;
	line-height: 1.5;
	font-family: AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif;
	color: #444;
	letter-spacing: -1px;
}
input[type="button"] {
	line-height: 999px;
	text-indent: -9999px;
	cursor: pointer;
}
input[type="checkbox"] {
	margin-right: 4px;
}
input[type="radio"] {
	margin-right: 2px;
	vertical-align: middle;
}
// input[readonly="readonly"] {
// 	background: #fbf9e4;
// }
input[readonly="readonly"].validatebox-readonly {
	background: #ffffff;
}
input[type="text"] {
	border: 1px solid #c1c1c1;
}
input[type="number"] {
	border: 1px solid #c1c1c1;
}
input[type="password"] {
	border: 1px solid #c1c1c1;
}
input[type="email"] {
	border: 1px solid #c1c1c1;
}



/* ====================
  공통
====================== */
/* checkbox */
input[type=checkbox] {display:none;}
input[type=checkbox] + label {display:inline-block; margin-right:15px; position:relative; color:#444; -webkit-transition:all 0.7s ease; -o-transition:all 0.7s ease; transition:all 0.7s ease; font-size: 14px; font-weight: normal; color: #000000;}
input[type=checkbox] + label:before {content:"";display:inline-block; width:16px;height:16px; background:#fff url(../images/icon_checkbox.png) no-repeat 0 0; background-size: 16px auto; vertical-align:middle; margin-right:5px; position: relative; top: -1px;}
input[type=checkbox]:checked + label:before { background-position-y: -16px; }
input[type=checkbox]:disabled + label{ opacity:0.8;color:#111111;}
input[type=checkbox]:disabled + label:before{ opacity:0.8; }
input[type=checkbox]:checked:disabled + label{ opacity:0.8; color:#111111;}
input[type=checkbox]:checked:disabled + label:before{ opacity:0.8; border:1px solid #D3D3D3; }



/* 버튼 */
.btn-n{ display: inline-block;  padding:8px 0;  font-size: 1rem; border-radius: 8px; text-align: center; color: #756d6d; background-color: #ffffff; border: 1px solid #aaaaaa; font-weight: bold; }
.btn-n.brown{ background-color: #817366; border: 1px solid #6f6154; color: #fff;}
.btn-n.green{ background-color: #a8ac00; border: 1px solid #8f9207; color: #fff;}
.btn-p{ display: inline-block;  padding:5px 0; width: 119px; font-size: 0.94rem; color: #756d6d; background-color: #ffffff; border: 1px solid #aaaaaa; border-radius: 4px; font-weight: bold; }
.btn-p.green{ background-color: #a8ac00; border: 1px solid #8f9207;  color: #fff; }
.btn-s{display: inline-block;  padding:7px 0;  font-size: 1.12rem; border-radius: 8px; text-align: center; color: #756d6d; background-color: #ffffff; border: 1px solid #aaaaaa; font-weight: bold; width:120px; margin-right: 8px;}
.btn-s.green{ background-color: #a8ac00; border: 1px solid #8f9207;  color: #fff; }
.btn-ss{ display: inline-block;  padding:3px 10px 3px 28px;;  font-size: 0.87rem; border-radius: 4px; text-align: center;  background-color: #a49b94; border: 1px solid #908a85; color: #fff; font-weight: bold; }
.btn-ss.green{ background-color: #a8ac00; border: 1px solid #8f9207;  color: #fff; }
.btn-back{ display: inline-block; width:40px; height: 40px; background: url(../image/icon_back.png) no-repeat 50% 50%; background-size:14px auto;  overflow: hidden; text-indent: -5000px; font-size: 0;  }
.btn-sx{display: inline-block;  padding:5px 10px 5px 35px;;  font-size: 0.94rem; border-radius: 4px; text-align: center;  background-color: #948721; border: 1px solid #83771b; color: #ffffff; font-weight: bold; }


/* 공통 속성 */
.bg-gray{ background:#fafafa; }
.h100{ height:100%;}
.m-view{display: none !important;}
.clearfix:after {content:" "; display:block; height:0; clear:both; visibility:hidden;}
.non-active { cursor: default; text-decoration: none; }
.fix{ position: fixed; z-index: 1; width:100%; height: 100%; overflow: hidden; top:0; left:0;}
.hide{display:none;}
.pt25{ padding-top:25px;}

::-webkit-input-placeholder { color: #BFBFBF; }
::-moz-placeholder { color: #BFBFBF; }
:-ms-input-placeholder { color: #BFBFBF; }
::placeholder { color: #BFBFBF; }
:-ms-input-placeholder { color: #BFBFBF; }
::-ms-input-placeholder { color: #BFBFBF; }

.noselect, .date-picker {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

select { -webkit-appearance: none;-moz-appearance: none; appearance: none; border: none;  } 
select::-ms-expand { display: none; }

.lb-hidden{ display: none;}

/* [class^=btn-]{-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; display: inline-block; overflow: hidden; text-indent: -5000px; font-size: 0; }
[class^=btn-].text{ text-indent:inherit; overflow: visible; } */

.fixed{ position: fixed;}

.bottom-fixed{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.overflow-h{overflow: hidden !important;}

.text-input-wrapper{border:1px solid #dbdbdb; background:#fff; display:inline-block; position:relative; padding-right: 45px; padding-left:20px; box-sizing: border-box; width: 100%;}
.text-input-wrapper .input-clear{border:none;background:none;outline:none;padding:0;margin:0; height: 34px; width: 100%; font-size: 14px; }
.text-input-wrapper .btn-clear{cursor:pointer;color:#444;font-weight:700;display:none;position:absolute;right:5px;top:0;width:34px;height:34px;background:url(../image/icon_clearInput_b.png) no-repeat 50% 50%; background-size: 20px auto;}

button:disabled{ color: #c5c5c5 !important;}

.pd0{padding: 0 !important;}
.pt10{padding-top:10px !important;}
.pt13{padding-top:13px !important;}
.pt37{padding-top:37px !important;}
.pt40{padding-top:40px !important;}
.pt56{padding-top:56px !important;}
.pt88{padding-top:88px !important;}
.pt101{padding-top:101px !important;}

.pb5{padding-bottom:5px !important;}

.mb5{margin-bottom:5px;}
.mt10{margin-top: 10px;}

.padding-lr0{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.padding-lr13{
  padding-left: 13px !important;
  padding-right: 13px !important;
}
.pos-r13{
  right: 13px !important;
}
.pos-r8{
  right: 8px !important;
}
.pr-per30{
  padding-right: 30% !important;
}

.bg-white{
    background: #fff !important;
  }

 